<div class="modal-header" style="z-index: 1012;">
  <h4 class="modal-title">New Checkout Request</h4>
  <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
</div>
<div class="modal-body">
  <form action="#" [formGroup]="createNewCheckoutAmountForm" autocomplete="off">

      <div class="form-group row">
          <div class="col-sm-6">
                  <label class="form-label" for="amount">Amount:<span style="color: red;">*</span>
                  </label>
                  <input type="text" id="amount" class="cfm form-control" placeholder="Enter Amount"
                      formControlName="amount">
          </div>
      </div>
  </form>
  <div class="row">
      <div class="col text-right mt-3">
          <div class="btn-group-sm" role="group">
                  <button type="button" class="shadow-0 btn btn-success ml-2" [disabled]="!this.createNewCheckoutAmountForm.valid"
                  (click)="save()"><i class="fal fa-spinner fa-spin"></i> Save</button>
          </div>
      </div>
  </div>
</div>
