<app-sidemenu></app-sidemenu>
<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <app-navbar></app-navbar>
<!-- Breadcrumb Area -->
<div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
    <h1>{{Content.title}}</h1>
    <ol class="breadcrumb">
        <li class="item"><a routerLink="/">Home</a></li>
        <li class="item"><a routerLink="dashboard">{{Content.subTitle}}</a></li>
        <li class="item">{{Content.title}}</li>
    </ol>
</div>
<!-- End Breadcrumb Area -->
 <!-- Start -->
 <form [formGroup]="editForm" (ngSubmit)="update()">
    <div class="add-listings-box">
      <p-toast></p-toast>
        <h3>Basic Informations</h3>

        <div class="row">

          <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label><i class='bx bx-briefcase-alt'></i> Matricule</label>
                <input type="text" class="form-control" formControlName="matricule" [(ngModel)]="selectedcar.matricule"   >
            </div>
        </div>

            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class='bx bx-briefcase-alt'></i> Kilométre</label>
                    <input type="number" class="form-control" formControlName="km" [(ngModel)]="selectedcar.km">
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label><i class='bx bx-briefcase-alt'></i> Portes</label>
                  <select  formControlName="portes" [(ngModel)]="selectedcar.portes">
                    <option [ngValue]="null" disabled  > Selectionner portes </option>
                    <option *ngFor="let m of portes" selected  value={{m.nombre}} >{{ m.nombre }}</option>
                  </select>
              </div>
            </div>





            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label><i class='bx bx-briefcase-alt'></i> Siege</label>
                  <select  formControlName="siege"  [(ngModel)]="selectedcar.siege">
                    <option [ngValue]="null" disabled  > Selectionner siege </option>
                    <option *ngFor="let m of siege" selected value={{m.nombre}} >{{ m.nombre }}</option>
                  </select>
              </div>
            </div>



            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label><i class='bx bx-briefcase-alt'></i> Carburant</label>
                  <select  formControlName="carburant" [(ngModel)]="selectedcar.carburant" >
                    <option [ngValue]="null" disabled  > Selectionner carburant </option>
                    <option *ngFor="let m of carburant" selected    value={{m.label}}  >{{ m.label }}</option>
                  </select>
              </div>
            </div>


            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label><i class='bx bx-briefcase-alt'></i> Transmission</label>
                  <select formControlName="transmission" [(ngModel)]="selectedcar.transmission" >
                    <option [ngValue]="null" disabled  > Selectionner transmission </option>
                    <option *ngFor="let m of transmission" selected value={{m.label}}>{{ m.label }}</option>
                  </select>
              </div>
            </div>


            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                  <label><i class='bx bx-duplicate'></i> Marque voiture </label>
                  <select formControlName="make" [(ngModel)]="selectedcar.make.id" (change)="selectMake($event)">
                      <option [ngValue]="null" disabled  ></option>
                      <option  *ngFor="let m of makes" value={{m.id}} selected name="Make"> {{m.name}}</option>
                  </select>


              </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label><i class='bx bx-duplicate'></i> Model de voiture </label>
                <select formControlName="model_id" [(ngModel)]="selectedcar.make.model" (change)="select($event)"  >
                    <option>Select Model</option>
                    <option  *ngFor="let m of models" value={{m.id}} name="Model" selected > {{m.name}}</option>
                </select>


            </div>
        </div>


        <div class="col-lg-6 col-md-6">
          <div class="form-group">
              <label><i class='bx bxs-key'></i> Type</label>
              <input   disabled type="text" class="form-control"  value= {{Model.type}}>
          </div>
      </div>


      <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label><i class='bx bxs-key'></i> Année</label>
            <input disabled type="text" class="form-control"   value= {{Model.year}} >
        </div>
    </div>



        </div>
    </div>

    <div class="add-listings-box">
        <h3>Location</h3>

        <div class="row">


            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label><i class='bx bx-menu-alt-left'></i> Address:</label>
                    <input type="text" formControlName="location" class="form-control"  [(ngModel)]="selectedcar.location">
                </div>
            </div>


        </div>
    </div>

    <div class="row add-listings-box pb-3">

        <div class="col-3 my-profile-box" >
          <h3>Modifier Photo Principale</h3>
          <form #f="ngForm" >

                <div class="form-group profile-box ">
                  <img class="profile-box-img justify-content-center" src="{{selectedcar.photo}}" alt="image">

                <div class="col-12 file-upload" *ngIf="!isLoading">
                  <input type="file" name="file" id="file" name="logo" id="file"class="inputfile" (change)="fileEvent($event)"/>
                  <label for="file"><i class='bx bx-upload'></i> Téléverser photo de profile</label>
               </div>
               <div class="col-12 file-upload" *ngIf="isLoading">
                <button type="submit" [disabled]="isLoading" >
                  <img *ngIf="isLoading" style="width : 24px" src="./assets/img/gif/loading.gif" />
                  Téléverser photo de profile </button>
               </div>
              </div>
              </form>
        </div>
        <div class="col-4" >
          <h3>Liste image</h3>

          <p-toast></p-toast>





          <p-galleria  [(value)]="images" [(visible)]="displayCustom" [(activeIndex)]="activeIndex"  [showItemNavigatorsOnHover]="true"
          [responsiveOptions]="responsiveOptions"
          [containerStyle]="{'max-width': '850px'}" [numVisible]="7" [circular]="true" [fullScreen]="true"
          [showItemNavigators]="true"
      [showThumbnails]="false" [baseZIndex]="100000">
      <ng-template pTemplate="item" let-item>
          <img src={{link}}{{item.path}} style="width: 100%;"/>
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
              <img src={{link}}{{item.path}} />
          </div>
      </ng-template>
  </p-galleria>
  <div *ngIf="images"  style="max-width: 400px;" class="row">
      <div *ngFor="let image of images | paginate: { itemsPerPage: 4, currentPage: gridListings } ; let index = index ;" class="col-6" key="index" style="display: inline-block" >
        <button pButton type="button" class="p-button-raised p-button-rounded p-button-danger delete-btn" iconPos="right" icon="pi pi-trash" (click)="deleteimage(image)"></button>
          <img src={{link}}{{image.path}} [alt]="image.alt" style="cursor: pointer" (click)="imageClick(index)"/>

        </div>

            <div class="pagination-area text-center">
                    <pagination-controls (pageChange)="gridListings = $event"></pagination-controls>
                </div>
        <br>
    </div>
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

</div>



    <div class="col-4">
      <h3>Ajouter nouvelles images</h3>
      <p-fileUpload name="galleries[]" url="http://127.0.0.1:8000/api/update/galleries/{{carid}}" (onUpload)="onUpload($event)"
      multiple="multiple" accept="image/*" maxFileSize="10000000">
      <ng-template pTemplate="content">
          <ul *ngIf="Files.length">
              <li *ngFor="let file of Files">{{file.name}} - {{file.size}} bytes</li>
          </ul>
      </ng-template>
</p-fileUpload>
    </div>
</div>
    <div class="add-listings-box pb-3">
    <div class="file-upload-box">
    </div>
    </div>



    <div class="add-listings-box">
        <h3>Details</h3>


        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label><i class='bx bx-text'></i> Description:</label>
                    <textarea cols="30" rows="7" class="form-control" formControlName="description" [(ngModel)]="selectedcar.description" placeholder="Details..."></textarea>
                </div>
            </div>


        </div>
    </div>

    <div class="add-listings-box">
        <h3>Options</h3>

        <div class="form-group" >
            <ul class="facilities-list" [(ngModel)]="selectedcar.options">
                <li *ngFor="let opt of opts">
                    <label class="checkbox">
                        <input type="checkbox"  name="option"  value="{{opt.id}}" (change)="onchange($event)">
                        <span>{{opt.label}}</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>



    <div class="add-listings-box">
        <h3>Prix</h3>

        <div class="form-group">
           <!-- <label><i class='bx bx-purchase-tag'></i> Pricing:</label>-->
            <div class="row">
               <div class="col-6">
                <label><i class='bx bx-purchase-tag'></i> Horaire:</label>

                <input type="number" class="form-control" placeholder="$42.00" formControlName="Price_H" [(ngModel)]="selectedcar.Price_H">
               <!--  <p-slider [(ngModel)]="val"></p-slider>-->
               <br>
                </div>

                <div class="col-6">
                 <label><i class='bx bx-purchase-tag'></i> Journalié:</label>
                 <input type="number" class="form-control" placeholder="$132.00" formControlName="Price_D" [(ngModel)]="selectedcar.Price_D"></div>
                <br>



                 </div>


        </div>
    </div>


    <div class="add-listings-btn">
        <button type="submit">update Vehicule</button> <br>


    </div>
  </form>
    <!-- End -->
