@import "../dashboard.component.scss";

.bookings-listings-box {
    margin-bottom: 30px;
    background-color: var(--whiteColor);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
    border-radius: 5px;

    h3 {
        margin-bottom: 0;
        padding: 20px 25px 19px;
        border-bottom: 1px dashed #eeeeee;
        font: {
            size: 17px;
            weight: 600;
        };
    }
    table {
        margin-bottom: 0;

        thead {
            th {
                white-space: nowrap;
                vertical-align: middle;
                color: var(--blackColor);
                padding: 11px 25px 10px;
                border: {
                    bottom: 1px dashed #eeeeee;
                    top: none;
                    right: 1px dashed #eeeeee;
                };
                font: {
                    size: var(--fontSize);
                    weight: 600;
                };
            }
        }
        tbody {
            td {
                white-space: nowrap;
                vertical-align: middle;
                padding: 30px 25px;
                border: {
                    bottom: 1px dashed #eeeeee;
                    right: 1px dashed #eeeeee;
                    top: 1px dashed #eeeeee;
                };
                &.name {
                    position: relative;

                    img {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                    }
                    .info {
                        margin-top: 15px;

                        span {
                            display: block;
                            margin-bottom: 8px;
                            font: {
                                size: 18px;
                                weight: 600;
                            };
                        }
                        ul {
                            padding-left: 0;
                            margin-bottom: 0;
                            list-style-type: none;

                            li {
                                color: var(--optionalColor);
                                display: inline-block;
                                margin-right: 20px;
                                position: relative;
                                font: {
                                    size: 14px;
                                    weight: 500;
                                };
                                a {
                                    color: var(--optionalColor);
                                    display: inline-block;

                                    &:hover {
                                        color: var(--mainColor);
                                    }
                                }
                                &::before {
                                    content: '';
                                    position: absolute;
                                    right: -10px;
                                    top: 5px;
                                    width: 1px;
                                    height: 12px;
                                    background-color: #eeeeee;
                                }
                                &:last-child {
                                    margin-right: 0;

                                    &::before {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    .default-btn {
                        border-radius: 30px;
                        box-shadow: unset;
                        background-color: #eeeeee;
                        font-size: 13px;
                        border: none;
                        margin-top: 14px;
                        position: relative;
                        padding: {
                            top: 8px;
                            bottom: 8px;
                            left: 40px;
                            right: 20px;
                        };
                        i {
                            position: absolute;
                            left: 20px;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: 15px;
                            margin-top: -.5px;
                        }
                        &:hover {
                            background-color: var(--mainColor);
                            color: var(--whiteColor);
                        }
                    }
                }
                &.details {
                    h4 {
                        margin-bottom: 15px;
                        font-size: 17px;

                        .bookings-status {
                            border-radius: 30px;
                            color: var(--whiteColor);
                            padding: 3px 10px 3.5px;
                            position: relative;
                            background-color: var(--mainColor);
                            top: -2px;
                            margin-left: 2px;
                            font: {
                                weight: 500;
                                size: 12px;
                            };
                            &.approved {
                                background-color: #64bc36;
                            }
                            &.canceled {
                                background-color: red;
                            }
                        }
                    }
                    ul {
                        padding-left: 0;
                        list-style-type: none;
                        margin-bottom: 0;

                        li {
                            margin-top: 12px;
                            color: var(--optionalColor);
                            font-size: 14px;

                            span {
                                color: var(--blackColor);
                                font-weight: 500;
                            }
                            i {
                                color: var(--mainColor);
                                position: relative;
                                top: .8px;
                                margin-right: 5px;
                            }
                            a {
                                color: var(--optionalColor);

                                &:hover {
                                    color: var(--mainColor);
                                }
                            }
                            strong {
                                font-weight: 600;
                                color: var(--blackColor);
                                margin-left: 3px;
                            }
                            .paid {
                                color: #64bc36;
                            }
                            .unpaid {
                                color: red;
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                &.action {
                    .default-btn {
                        border-radius: 30px;
                        box-shadow: unset;
                        background-color: #eeeeee;
                        font-size: 13px;
                        border: none;
                        position: relative;
                        margin-right: 15px;
                        padding: {
                            top: 8px;
                            bottom: 8px;
                            left: 40px;
                            right: 20px;
                        };
                        &:hover {
                            background-color: var(--mainColor);
                            color: var(--whiteColor);
                        }
                        i {
                            position: absolute;
                            left: 20px;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: 15px;
                        }
                        &.danger {
                            margin-right: 0;

                            &:hover {
                                background-color: red;
                                color: var(--whiteColor);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .bookings-listings-box {
        h3 {
            padding: 15px 20px;
        }
        table {
            thead {
                th {
                    padding: 11px 20px 10px;
                    font-size: 14.5px;
                }
            }
            tbody {
                td {
                    padding: 25px 20px;

                    &.name {
                        .info {
                            span {
                                font-size: 16px;
                            }
                        }
                    }
                    &.details {
                        h4 {
                            font-size: 15px;
                        }
                    }
                    &.action {
                        .default-btn {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {



}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {



}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    

}
/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {



}
/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    

}