<!-- Start Sidemenu Area -->
<div class="sidemenu-area">
  <div class="sidemenu-header">
      <a routerLink="/espace-user" class="navbar-brand d-flex align-items-center">
          <img src="assets/img/black-logo.png" alt="image">
      </a>
      <div class="responsive-burger-menu d-block d-lg-none">
          <span class="top-bar"></span>
          <span class="middle-bar"></span>
          <span class="bottom-bar"></span>
      </div>
  </div>
  <div class="sidemenu-body">
      <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>
          <li class="nav-item-title">
              Main
          </li>
          <li class="nav-item" routerLinkActive="active mm-active">
              <a routerLink="/espace-user" class="nav-link">
                  <span class="icon"><i class='bx bx-home-circle'></i></span>
                  <span class="menu-title">Dashboard</span>
              </a>
          </li>

          <li class="nav-item" routerLinkActive="active mm-active">
              <a routerLink="/user/messages" class="nav-link">
                  <span class="icon"><i class='bx bx-envelope-open'></i></span>
                  <span class="menu-title">Messages</span>
                  <span class="badge">3</span>
              </a>
          </li>

          <li class="nav-item" routerLinkActive="active mm-active">
            <a routerLink="/user/security-deposit" class="nav-link">
                <span class="icon"><i class='bx bx-money'></i></span>
                <span class="menu-title">Sercurity Deposit</span>
            </a>
        </li>

          <div *ngIf></div>
          <li class="nav-item" routerLinkActive="active mm-active">
            <a routerLink="/user/dashboard-bookings" class="nav-link">
                <span class="icon"><i class='bx bx-copy'></i></span>
                <span class="menu-title">Bookings</span>
            </a>
        </li>

        <li class="nav-item" routerLinkActive="active mm-active">
          <a routerLink="/user/disputes/list" class="nav-link">
              <span class="icon"><i class='bx bx-copy'></i></span>
              <span class="menu-title">Disputes</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active mm-active">
          <a routerLink="/user/cashout/list" class="nav-link">
              <span class="icon"><i class='bx bx-copy'></i></span>
              <span class="menu-title">Cashout Demands</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active mm-active">
          <a routerLink="/user/wallet" class="nav-link">
              <span class="icon"><i class='bx bx-wallet'></i></span>
              <span class="menu-title">Wallet</span>
          </a>
      </li>

          <li class="nav-item-title">
              Mes Vehicules
          </li>
          <li class="nav-item" routerLinkActive="active mm-active">
              <a href="user/list" class="nav-link" aria-expanded="false">
                <!--<span class="icon"><i class='bx bx-layer'></i></span>-->
                <span class="icon"><i class='bx bxs-car'></i></span>
                  <span class="menu-title">Mes Vehicules</span>
              </a>

          </li>

          <li class="nav-item" routerLinkActive="active mm-active">
              <a routerLink="/user/add-car" class="nav-link">
                  <span class="icon"><i class='bx bx-plus-circle'></i></span>
                  <span class="menu-title">Ajouter vehicule</span>
              </a>
          </li>

          <li class="nav-item-title">
              Account
          </li>
          <li class="nav-item" routerLinkActive="active mm-active">
              <a routerLink="/user/profile" class="nav-link">
                  <span class="icon"><i class='bx bxs-user-circle'></i></span>
                  <span class="menu-title">Profile</span>
              </a>
          </li>
          <li class="nav-item">
              <a   class="nav-link" (click)="logout()">
                  <span class="icon"><i class='bx bx-log-out'></i></span>
                  <span class="menu-title">Logout</span>
              </a>
          </li>
      </ul>
  </div>
</div>
<!-- End Sidemenu Area -->
