<app-sidemenu></app-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <app-navbar></app-navbar>

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <li class="item">Espace utilisateur</li>
            <li class="item">Mon profile</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start -->
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="my-profile-box">
                <h3>Détails du profil</h3>
  <p-toast></p-toast>




                <!--<div class="row">
                  <form #f="ngForm" >
                  <div class="col-lg-12 col-md-12">
                      <div class="form-group profile-box">
                          <img src={{image}} alt="image">
                          <div class="file-upload">

                              <input type="file" name="photo1" id="file1" class="form-control" (change)="fileEvent($event)" />

                          </div>

                      </div></div>
                      <!--<button type="submit" class="inputfile" (click)="updatephoto()">Save Change</button>
                    </form>
                  </div>-->

                        <form (ngSubmit)="saveChange() " >
                        <div class="row">

                          <div class="row">
                            <div class="form-group profile-box ">
                                <img class="profile-box-img justify-content-center" src="{{image}}" alt="image">

                              <div class="col-12 file-upload" *ngIf="!isLoading">
                                <input type="file" name="file" id="file" name="logo" id="file"class="inputfile" (change)="fileEvent($event)"/>
                                <label for="file"><i class='bx bx-upload'></i> Téléverser photo de profile</label>
                             </div>
                             <div class="col-12 file-upload" *ngIf="isLoading">
                              <button type="submit" [disabled]="isLoading" >
                                <img *ngIf="isLoading" style="width : 24px" src="./assets/img/gif/loading.gif" />
                                Téléverser photo de profile </button>
                             </div>
                            </div>



                                <!--<p-progressBar [value]="value"></p-progressBar>-->


                        </div>
                          <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Nom d'utilisateur *</label>
                                <input type="Text" class="form-control"  name="User.username" ng-minlength="3" [(ngModel)]="User.username">
                            <small *ngIf="User.username?.length < 3" id="username2-help" class="p-error block">Saisissez votre nom d'utilisateur.</small>

                            </div>
                        </div>


                        <div class="col-xl-6 col-lg-12 col-md-12">
                          <div class="form-group">
                              <label>Nom *</label>
                              <input type="Text" class="form-control"  name="User.lastname" ng-minlength="3" [(ngModel)]="User.lastname" required>
                            <small *ngIf="User.lastname?.length < 3" id="username2-help" class="p-error block">Saisissez votre nom.</small>

                          </div>
                      </div>

                      <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Prenom *</label>
                            <input type="Text" class="form-control" name="User.firstname" ng-minlength="3" [(ngModel)]="User.firstname" required>
                            <small *ngIf="User.firstname?.length < 3" id="username2-help" class="p-error block">Saisissez votre prénom.</small>
                        </div>
                    </div>


                        <div class="col-xl-6 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Email *</label>
                                <input type="email" class="form-control" name="User.email"  [(ngModel)]="User.email" required>
                                <small *ngIf="User.email?.length < 3" id="username2-help" class="p-error block">Saisissez un courriel.</small>

                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Numéro du Téléphone * </label>
                                <input type="text" class="form-control"  name="User.phone" ng-minlength="8" [(ngModel)]="User.phone" required>
                            <small *ngIf="User.phone?.length < 8" id="username2-help" class="p-error block">Saisissez votre numéro de téléphone.</small>

                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Adresse *</label>
                                <input type="text" class="form-control"  [(ngModel)]="User.address" ng-minlength="5" name="address" required >
                            <small *ngIf="User.address?.length < 5" id="username2-help" class="p-error block">Le champs adresse est obligatoire .</small>


                              </div>


                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6">
                          <div class="form-group">
                              <label>Ville *</label>
                              <input type="text" class="form-control" required   name="User.city" ng-minlength="3" [(ngModel)]="User.city" required>
                            <small *ngIf="User.city?.length < 3" id="username2-help" class="p-error block">Le champs ville est obligatoire .</small>



                          </div>
                      </div>

                      <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Code *</label>
                            <input type="text" class="form-control"  required  name="User.code" ng-minlength="3" [(ngModel)]="User.code" required>
                            <small *ngIf="User.code?.length < 3" id="username2-help" class="p-error block">Le champs code est obligatoire .</small>




                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                      <div class="form-group">
                          <label>province *</label>
                          <input type="text" class="form-control"  required  name="User.state" ng-minlength="3" [(ngModel)]="User.state" required>
                          <small *ngIf="User.state?.length < 3" id="username2-help" class="p-error block">Le champs province est obligatoire .</small>




                      </div>
                  </div>

                        <div class="col-xl-6 col-lg-12 col-md-12">
                          <div class="form-group">
                              <label>Date de Naissance *</label>

                              <input type="date"  class="form-control" required name="User.date_nais" ng-minlength="3" [(ngModel)]="User.date_nais" required>
                              <small *ngIf="!User.date_nais" id="username2-help" class="p-error block">Saisissez votre date de naissance.</small>

                            </div>
                      </div>

                        <div class="col-xl-6 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Website</label>
                                <input type="text" class="form-control"    name="link" ng-minlength="3" [(ngModel)]="User.link" required>

                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Bio</label>
                                <textarea cols="30" rows="6" placeholder="Short description about you..." class="form-control"  name="User.bio" [(ngModel)]="User.bio" required></textarea>
                            </div>
                        </div>

                        <!--<div class="col-xl-6 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Facebook URL</label>
                                <input type="text" class="form-control" placeholder="https://www.facebook.com/">
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Twitter URL</label>
                                <input type="text" class="form-control" placeholder="https://twitter.com/">
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Linkedin URL</label>
                                <input type="text" class="form-control" placeholder="https://www.linkedin.com/">
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Instagram URL</label>
                                <input type="text" class="form-control" placeholder="https://instagram.com/">
                            </div>
                        </div>-->

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <button type="submit" [disabled]="isLoading" >
                                  <img *ngIf="isLoading" style="width : 24px" src="./assets/img/gif/loading.gif" />
                                  Sauvegarder les modifications </button>
                                <p-toast></p-toast>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>













        <div class="col-lg-6 col-md-12">
            <div class="my-profile-box">
                <h3>Verification des données </h3>

                <form (ngSubmit)="updatepermis()">
                    <div class="row">
                                <label>Recto permis</label>
                                <div class="col-12">
                                    <p>ajouter une photo claire de votre permis - recto </p>   <br><br>  </div>
                                    <div class="col-12">

                                <div class="form-group drivingL-box ">
                                    <div class="file-upload">
                                        <input type="file" name="photo2" id="file2" class="inputfile" (change)="photo1($event)"/>
                                        <label for="file2">Ajouter recto de Permis </label>
                                    </div>
                                </div>
                                </div>

                                <label>Verso permis</label>
                                <div class="col-12">
                                    <p>ajouter une photo claire de vous avec votre permis - verso</p>  <br><br></div>
                                    <div class="col-12">

                                    <div class="form-group drivingL-box">
                                        <div class="file-upload">
                                            <input type="file" name="photo3" id="file3" class="inputfile" (change)="photo2($event)"/>
                                            <label for="file3"> Ajouter verso de Permis</label>
                                        </div>
                                    </div>
                                    </div>


                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <button type="submit">Ajouter photos</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="my-profile-box">
                <h3>Changer Mot de passe</h3>

                <form [formGroup]="passwordForm" (ngSubmit)="change2()">

                    <!--<div class="row">-->
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Mot de passe actuel</label>
                                <!--<input type="password" formControlName="password_current" class="form-control" >-->
                                <span class="p-fluid">
                                <p-password formControlName="password_current"
                                [toggleMask]="true" autoWidth="false"
                                [inputStyle]="{'font-size': '16px'}"
                                styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                                ></p-password>
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Nouveau mot de passe</label>
                                <!--<input type="password" formControlName="new_password" class="form-control">-->
                                <span class="p-fluid">
                                <p-password formControlName="new_password" [toggleMask]="true"
                                [inputStyle]="{'font-size': '16px'}"
                                styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                                ></p-password>
                               </span>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group ui-fluid">
                                <label>Confirmer le nouveau mot de passe</label>
                                <!--<input type="password" formControlName="new_confirm_password" class="form-control">-->
                                <span class="p-fluid">
                                <p-password formControlName="new_confirm_password"   [toggleMask]="true"
                                styleClass="p-password p-component p-inputwrapper p-input-icon-right "
                                [inputStyle]="{'font-size': '16px'}"
                                ></p-password>
                                </span>

                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <button type="submit">Changer mot de passe</button>
                            </div>
                        </div>
                    <!--</div>-->
                </form>
            </div>
        </div>
    <!-- End -->

    <div class="flex-grow-1"></div>

    <app-copyrights></app-copyrights>

<!-- End Main Content Wrapper Area -->
