.events-item-list {
    margin-bottom: 30px;

    h2 {
        margin-bottom: 35px;
        font-size: 30px;
    }
    .single-events-item {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .single-events-box {
        margin-bottom: 17px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.single-events-item {
    margin-bottom: 35px;
    box-shadow: 5px 5px #b2eaea;
    border: 1px solid #96e3e3;
    border-radius: 5px;
    transition: var(--transition);
    background-color: var(--whiteColor);
    padding: 21.5px 20px;
    position: relative;
    
    .meta {
        display: block;
        border-bottom: 1px solid #efefef;
        padding-bottom: 14px;
        margin-bottom: 12px;
        color: var(--optionalColor);
        font: {
            size: 14px;
            weight: 600;
        };
        i {
            font-weight: normal;
            color: var(--mainColor);
            margin-right: 2px;
            width: 28px;
            height: 28px;
            text-align: center;
            display: inline-block;
            line-height: 28px;
            background-color: #e8e8e8;
            border-radius: 50%;
            transition: var(--transition);
        }
        &:hover {
            i {
                background-color: var(--mainColor);
                color: var(--whiteColor);
            }
        }
    }
    h3 {
        font-size: 20px;
        margin-bottom: 0;
        line-height: 1.4;
    }
    .link-btn {
        position: absolute;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 3px 3px #b2eaea;
        border: 1px solid #96e3e3;
        display: inline-block;
        width: 44px;
        height: 44px;
        text-align: center;
        background-color: var(--whiteColor);
        border-radius: 50%;
        line-height: 44px;
        font-size: 22px;
        opacity: 0;
        visibility: hidden;

        &:hover {
            background-color: var(--mainColor);
            color: var(--whiteColor);
            border-color: var(--mainColor);
            box-shadow: unset;
        }
    }
    &:hover {
        border-color: var(--mainColor);
        box-shadow: 5px 5px var(--mainColor);

        .link-btn {
            opacity: 1;
            visibility: visible;
            right: -22px;
        }
    }
}
.single-events-box {
    margin-bottom: 35px;
    box-shadow: 5px 5px #b2eaea;
    border: 1px solid #96e3e3;
    border-radius: 5px;
    transition: var(--transition);
    background-color: var(--whiteColor);
    
    .image {
        height: 100%;
        border-radius: 5px;
        border-right: 1px solid #96e3e3;
        position: relative;
        background: {
            position: center center;
            size: cover;
            repeat: no-repeat;
        };
        img {
            border-radius: 5px;
            display: none;
        }
        .link-btn {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: 5px;
            display: block;
            z-index: 2;
        }
    }
    .content {
        padding: 11.5px 20px;

        .meta {
            display: block;
            border-bottom: 1px solid #efefef;
            padding-bottom: 14px;
            margin-bottom: 12px;
            color: var(--optionalColor);
            font: {
                size: 14px;
                weight: 600;
            };
            i {
                font-weight: normal;
                color: var(--mainColor);
                margin-right: 2px;
                width: 28px;
                height: 28px;
                text-align: center;
                display: inline-block;
                line-height: 28px;
                background-color: #e8e8e8;
                border-radius: 50%;
                transition: var(--transition);
            }
            &:hover {
                i {
                    background-color: var(--mainColor);
                    color: var(--whiteColor);
                }
            }
        }
        h3 {
            font-size: 20px;
            margin-bottom: 0;
            line-height: 1.4;
        }
    }
    &:hover {
        border-color: var(--mainColor);
        box-shadow: 5px 5px var(--mainColor);
    }
}
.events-box {
    margin-bottom: 35px;
    border-radius: 5px;
    box-shadow: 5px 5px #b2eaea;
    overflow: hidden;
    transition: var(--transition);
    position: relative;

    img {
        border-radius: 5px;
        transition: var(--transition);
    }
    &::before {
        z-index: 1;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        background-color: #000000;
        opacity: 0.5;
    }
    .link-btn {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        display: block;
        z-index: 3;
    }
    .content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        padding: 25px;

        .meta {
            display: block;
            border-top: 1px solid #6c6c6c;
            padding-top: 14px;
            margin-top: 12px;
            color: var(--whiteColor);
            font: {
                size: 14px;
                weight: 600;
            };
            i {
                font-weight: normal;
                color: var(--mainColor);
                margin-right: 2px;
                width: 28px;
                height: 28px;
                text-align: center;
                display: inline-block;
                line-height: 28px;
                background-color: #e8e8e8;
                border-radius: 50%;
                transition: var(--transition);
            }
            &:hover {
                i {
                    background-color: var(--mainColor);
                    color: var(--whiteColor);
                }
            }
        }
        h3 {
            font-size: 20px;
            color: var(--whiteColor);
            margin-bottom: 0;
        }
    }
    &:hover {
        box-shadow: 5px 5px var(--mainColor);

        img {
            transform: scale(1.12);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .events-item-list {
        h2 {
            margin-bottom: 30px;
            font-size: 23px;
            text-align: center;
        }
    }
    .single-events-item {
        padding: 20px 15px;

        .meta {
            font-size: 13px;

            i {
                width: 25px;
                height: 25px;
                line-height: 25px;
            }
        }
        h3 {
            font-size: 17px;
        }
        .link-btn {
            position: relative;
            opacity: 1;
            visibility: visible;
            top: 0 !important;
            transform: translateY(0) !important;
            right: 0 !important;
            margin-top: 15px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 20px;
        }
    }
    .single-events-box {
        .image {
            height: auto;
            background-image: unset !important;

            img {
                display: inline-block;
            }
        }
        .content {
            padding: 20px 15px;

            .meta {
                font-size: 13px;
    
                i {
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                }
            }
            h3 {
                font-size: 17px;
            }
        }
    }
    .events-box {
        .content {
            padding: 15px;
    
            h3 {
                font-size: 17px;
            }
            .meta {
                font-size: 13px;
            }
        }
    }

}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .events-item-list {
        h2 {
            margin-bottom: 40px;
            text-align: center;
        }
    }
    .single-events-item {
        h3 {
            font-size: 19px;
        }
    }
    .events-box {
        img {
            width: 100%;
        }
    }
    .single-events-box {
        .content {
            h3 {
                font-size: 18px;
            }
        }
    }

}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {



}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-events-box {
        .content {
            padding: 10px 15px;

            .meta {
                padding-bottom: 10px;
                margin-bottom: 10px;
                font-size: 13px;

                i {
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                }
            }
            h3 {
                font-size: 17px;
            }
        }
    }

}
/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

    .single-events-item {
        padding: 19.5px 20px;
    }

}
/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    

}