@import "../../../dashboard/dashboard.component.scss" ;
//@import "../../home-demo-one/homeone-listings/homeone-listings.component.scss";

@import "../../../home-demo-one/homeone-listings/homeone-listings.component.scss";
.error-content {
  text-align: center;

  h3 {
      font-size: 35px;
      margin: {
          bottom: 20px;
          top: 45px;
      };
  }
  p {
      max-width: 550px;
      margin: {
          left: auto;
          right: auto;
          bottom: 0;
      };
  }
  .default-btn {
      margin-top: 30px;
  }
}
.no-content-area{
  padding: {
   // right: 30px;
    left: 280px;
    top: 120px;
};
.single-listings-box{

  height: 260px;
  width: auto;
  border-radius: 5px;
  margin-bottom: 30px;

img {
  height: 260px;
  width: 100%;

  background-size: 'cover';
  object-fit: cover;
  background-repeat: 'no-repeat';
  background-position: center;}


}}

