<app-sidemenu></app-sidemenu>
<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

  <app-navbar></app-navbar>

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <li class="item"><a routerLink="dashboard">{{Content.subTitle}}</a></li>
            <li class="item">{{Content.title}}</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start -->

    <section class="listing-area" *ngIf="cars.length!==0">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6" *ngFor="let Content of cars  | paginate: { itemsPerPage: 6, currentPage: gridListings }">
                <div class="single-listings-box">

                    <!-- GAllerie dimage-->

                     <div class="listings-image">
                        <div class="listings-image-slides">
                          <!--<img [src]="Content.image" alt="image">-->
                             <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide *ngFor="let Image of Content.images;">
                                    <div class="single-image">
                                        <img src={{imgs}}{{Image.name}} alt="image">
                                         <a routerLink="/{{Content.detailsLink}}" class="link-btn"></a>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                       <!-- <a routerLink="/{{Content.bookmarkLink}}" class="bookmark-save"><i class="flaticon-heart"></i></a>
                        <a routerLink="/{{Content.categoryLink}}" class="category"><i class="flaticon-cooking"></i></a>-->
                    </div>
                    <div class="listings-content">
                        <div class="author">
                            <div class="d-flex align-items-center">
                               <img src= {{img}}{{Content.authorImg}}  alt="image">
                                <span>{{Content.user}}</span>
                            </div>
                        </div>
                        <ul class="listings-meta">

                            <li><i class="flaticon-pin"></i> {{Content.location}}</li>
                        </ul>
                        <h3><a routerLink="/{{Content.id}}">{{Content.make}} {{Content.model}} {{Content.year}} </a></h3>
                        <!--<span class="status {{Content.extraClass}}"><i class="flaticon-save"></i> </span>-->
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="rating">
                              <i class='bx bxs-star checked' *ngFor="let item of counter(Content.rate); let i = index" ></i>
                              <i class='bx bxs-star' *ngFor="let item of counterop(Content.rate); let i = index" ></i>
                                <span class="count">({{Content.nb_review}})</span>
                            </div>
                            <div class="price">
                                {{Content.Price_H}}$/Heure {{Content.Price_D}}$/Jour
                            </div>
                        </div>
                    </div>
                    <div class="listings-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <a routerLink="/user/update-car" [queryParams]="{id: Content.id}" class="default-btn">Edit</a>
                            <a class="default-btn" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="modalid= Content.id">Delete</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="pagination-area text-center">
                    <pagination-controls (pageChange)="gridListings = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </section>
    <!-- End -->

    <div class="modal fade loginRegisterModal" id="deleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><i class='bx bx-x'></i></button>
                <div class="modal-body">
                    Etes-vous sûr que vous voulez
                    supprimer cette voiture ?
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class=" d-flex justify-content-center">
                        <button class="btn btn-danger" data-dismiss="modal" type="button" (click)="delete(modalid)">Oui</button>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-danger" data-dismiss="modal">Non</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<section class="no-content-area" *ngIf="!cars">
      <div class="row">
        <img src="assets/img/No Content.png"></div>
        <div class="row">
        <div class="col-4"> </div>
      <div class="col-4">
        <button pButton type="button" label="Ajouter Vehicule" (click)="navigate()" class="p-button-outlined p-button-rounded button"></button></div>

      <div class="col-4"> </div>
        </div>
    </section>-->

    <section class="error-area bg-f9f9f9 ptb-100" *ngIf="cars.length==0">
      <div class="container">
          <div class="error-content"  >

              <h3>NO CARS FOUND !</h3>

              <a routerLink="/" class="default-btn" (click)="navigate()">Ajouter Véhiucle </a>
          </div>
      </div>
  </section>
    <div class="flex-grow-1"></div>

    <app-copyrights></app-copyrights>

</div>
<!-- End Main Content Wrapper Area -->
