@import "../../../dashboard/dashboard.component.scss" ;
//@import "../../home-demo-one/homeone-listings/homeone-listings.component.scss";

@import "../../../home-demo-one/homeone-listings/homeone-listings.component.scss";

.no-content-area{
  padding: {
   // right: 30px;
    left: 280px;
    top: 120px;
};

min-height: 100vh;
border-radius: 5px;
margin-bottom: 30px;

img{
  height: 60%;
  width: 60%;
}
}
