<!-- Start Navbar Area -->
<div class="navbar-area">
    <div class="vesax-responsive-nav">
        <div class="container">
            <div class="vesax-responsive-menu">
                <div class="logo">
                    <a routerLink="/"><img src="assets/img/black-logo.png" alt="logo"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="vesax-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/"><img src="assets/img/black-logo.png" alt="logo"></a>

                <div class="collapse navbar-collapse mean-menu">
                    <!--<form class="navbar-search-box">
                        <label><i class="flaticon-search"></i></label>
                        <input type="text" class="input-search" placeholder="What are you looking for?">
                    </form>-->

                    <ul class="navbar-nav">

                      <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Accueil </a></li>
                        <div *ngIf="!user.id" style="display:flex" >
                            <li class="nav-item"><a routerLink="/about" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">A propos</a></li>
                            <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Contact</a></li>
                            <li class="nav-item"><a routerLink="/car/list" class="nav-link" [queryParams]="{st:start, se:end}" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Liste des vehicules</a></li>
                        </div>
                    <div *ngIf="user.id" style="display:flex; justify-content: space-around;">

                              <li class="nav-item"><a routerLink="/espace-user" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Dashboard</a></li>
                              <li class="nav-item"><a routerLink="/user/messages" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Messages</a></li>
                              <li class="nav-item"><a routerLink="/user/booking" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Bookings</a></li>
                               <li class="nav-item"><a routerLink="/user/reviews" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Reviews</a></li>
                               <li class="nav-item"><a routerLink="/car/list" [queryParams]="{st:start, se:end}" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Liste des voitures</a></li>

                    </div>
                        <!--<li class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link">User Panel</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/dashboard" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Dashboard</a></li>

                                <li class="nav-item"><a routerLink="/dashboard-messages" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Messages</a></li>

                                <li class="nav-item"><a routerLink="/dashboard-bookings" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Bookings</a></li>

                                <li class="nav-item"><a routerLink="/dashboard-wallet" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Wallet</a></li>

                                <li class="nav-item"><a routerLink="/dashboard-my-listings" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">My Listings</a></li>

                                <li class="nav-item"><a routerLink="/dashboard-reviews" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Reviews</a></li>

                                <li class="nav-item"><a routerLink="/dashboard-bookmarks" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Bookmarks</a></li>

                                <li class="nav-item"><a routerLink="/dashboard-add-listings" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Add Listings</a></li>

                                <li class="nav-item"><a routerLink="/dashboard-my-profile" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">My Profile</a></li>

                                <li class="nav-item"><a routerLink="/dashboard-invoice" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Invoice</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link">Shop</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/products-list" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Products List</a></li>

                                <li class="nav-item"><a routerLink="/cart" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Cart</a></li>

                                <li class="nav-item"><a routerLink="/checkout" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Checkout</a></li>

                                <li class="nav-item"><a routerLink="/single-products" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Products Details</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/blog-grid" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog Grid</a></li>

                                <li class="nav-item"><a routerLink="/blog-right-sidebar" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog Right Sidebar</a></li>

                                <li class="nav-item"><a routerLink="/blog-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog Details</a></li>
                            </ul>
                        </li>-->






                             <!-- <li class="nav-item"><a routerLink="/about" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">About Us</a></li>

                                <li class="nav-item"><a routerLink="/how-it-works" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">How It Work</a></li>

                                <li class="nav-item"><a routerLink="/pricing" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Pricing</a></li>

                                <li class="nav-item"><a routerLink="/gallery" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Gallery</a></li>

                                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Events <i class='bx bx-chevron-right'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a routerLink="/events" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Events</a></li>

                                        <li class="nav-item"><a routerLink="/single-events" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Events Details</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a routerLink="/faq" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">FAQ</a></li>

                                <li class="nav-item"><a routerLink="/error" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">404 Error Page</a></li>

                                <li class="nav-item"><a routerLink="/coming-soon" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Coming Soon</a></li>

                                <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Contact</a></li>
                           -->
                    </ul>

                    <div class="others-option d-flex align-items-center">
                        <div *ngIf="!user.id" class="option-item">


                          <span data-bs-toggle="modal" data-bs-target="#loginRegisterModal"><i class="flaticon-user"></i> Connexion / Inscription</span>
                        </div>

                        <div *ngIf="user.id" class="option-item">


                          <span routerLink="/user/profile" ><i class="flaticon-user"></i>  Profile</span>
                        </div>

                        <div *ngIf="user.id" class="option-item">
                            <a routerLink="/user/add-car" class="default-btn"><i class="flaticon-more"></i> Ajouter vehicule</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            <div class="container">
                <div class="option-inner">
                    <div class="others-option">
                        <div class="option-item">
                            <form class="navbar-search-box">
                                <label><i class="flaticon-search"></i></label>
                                <!--<input type="text" class="input-search" placeholder="What are you looking for?">-->
                            </form>
                        </div>

                        <div class="option-item">
                            <span data-bs-toggle="modal" data-bs-target="#loginRegisterModal"><i class="flaticon-user"></i> Connexion / Inscription</span>
                        </div>

                        <div class="option-item">
                            <a routerLink="/dashboard-add-listings" class="default-btn"><i class="flaticon-more"></i> Add Listing</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Navbar Area -->

<!-- Start Login & Register Modal -->
<p-toast></p-toast>

<div class="modal fade loginRegisterModal" id="loginRegisterModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><i class='bx bx-x'></i></button>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab" aria-controls="login" aria-selected="true">Connexion</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" type="button" role="tab" aria-controls="register" aria-selected="true">Inscription</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="login" role="tabpanel">
                    <div class="vesax-login">
                        <div class="login-with-account">
                            <span> </span>

                        </div>

                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="form-group">
                                <input type="email" placeholder="Email" class="form-control" formControlName="email">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control" formControlName="password">
                            </div>
                            <button type="submit" data-bs-dismiss="modal"> Connexion </button>



                        </form>
                     <!--  <span class="dont-account">Don't have an account? <a href="#">Register Now</a></span>-->
                    </div>
                </div>
                <div class="tab-pane fade" id="register" role="tabpanel">
                    <div class="vesax-register">
                        <div class="register-with-account">
                            <span> </span>

                        </div>

                        <form [formGroup]="registerForm" (ngSubmit)="signup()" >


                          <div class="form-group"  [ngClass]="{'has-danger': (registerForm.controls.firstname.invalid && submitted) || (registerForm.controls.firstname.invalid && (registerForm.controls.firstname.dirty || registerForm.controls.firstname.touched)),
                                                             'has-success': registerForm.controls.firstname.valid && (registerForm.controls.firstname.dirty || registerForm.controls.firstname.touched)  }" >
                              <input type="text" placeholder="Prénom" class="form-control" formControlName="firstname" required>
                              <div *ngIf="(registerForm.controls.firstname.invalid && submitted) || registerForm.controls.firstname.invalid && (registerForm.controls.firstname.dirty || registerForm.controls.firstname.touched)" class="p-error block">
                                Saisissez votre prénom.
                              </div>
                          </div>



                          <div class="form-group" [ngClass]="{'has-danger': (registerForm.controls.lastname.invalid && submitted) || registerForm.controls.lastname.invalid && (registerForm.controls.lastname.dirty || registerForm.controls.lastname.touched),
                          'has-success': registerForm.controls.lastname.valid && (registerForm.controls.lastname.dirty || registerForm.controls.lastname.touched)  }" >
                            <input type="text" placeholder="Nom" class="form-control" formControlName="lastname"   required>
                            <div *ngIf=" (registerForm.controls.lastname.invalid && submitted) || registerForm.controls.lastname.invalid && (registerForm.controls.lastname.dirty || registerForm.controls.lastname.touched)" class="p-error block">
                              Saisissez votre nom.
                            </div>
                        </div>

                        <div class="form-group"[ngClass]="{'has-danger':
                                                                        (registerForm.controls.email.invalid && submitted ) ||
                                                                        ( registerForm.controls.email.invalid &&
                                                                         (registerForm.controls.email.dirty || registerForm.controls.email.touched)),

                                                           'has-success': registerForm.controls.email.valid && (registerForm.controls.email.dirty || registerForm.controls.email.touched)  }" >
                          <input type="email" placeholder="Email" class="form-control" formControlName="email"   required>

                          <div *ngIf="(registerForm.controls.email.invalid && submitted ) || (registerForm.controls.email.invalid && (registerForm.controls.email.dirty || registerForm.controls.email.touched))" class="p-error block">
                            Saisissez votre courriel.
                          </div>
                        </div>

                        <div class="form-group row" [ngClass]="{'has-danger': (registerForm.controls.phone.invalid && submitted ) || registerForm.controls.phone.invalid && (registerForm.controls.phone.dirty || registerForm.controls.phone.touched),
                        'has-success': registerForm.controls.phone.valid && (registerForm.controls.phone.dirty || registerForm.controls.phone.touched)  }" >
                        <div class="col-5">
                          <p-dropdown [options]="City"
                          autoWidth="false"
                          [style]="{ 'width':'100%' ,'hight':'42px'  }"
                          [(ngModel)]="selectedCountry"
                          [ngModelOptions]="{standalone: true}"
                          name="selectedCountry"
                          optionLabel="code"
                          [showClear]="true"
                          placeholder="Code">
                          <ng-template pTemplate="selectedItem">
                          <div class="country-item country-item-value" *ngIf="selectedCountry">
                          <img [src]="selectedCountry.flag"   style="width: 17px;" />
                          {{selectedCountry.code}}
                          </div>
                          </ng-template>
                          <ng-template let-City pTemplate="code">
                          <div class="country-item">
                          <img [src]="City.flag"  style="width: 17px;"  />
                          {{City.code}}
                          </div>
                          </ng-template>
                          </p-dropdown>
                        </div>

                        <div class="col-7">

                          <input type="text" placeholder="N° Tél." class="form-control" formControlName="phone"  required>
                          <div *ngIf="(registerForm.controls.phone.invalid && submitted ) || registerForm.controls.phone.invalid && (registerForm.controls.phone.dirty || registerForm.controls.phone.touched)" class="p-error block">
                            Saisissez votre N° de Tél.
                          </div>
                        </div>
                        </div>





                        <div class="form-group" [ngClass]="{'has-danger': (registerForm.controls.date_nais.invalid && submitted ) ||  registerForm.controls.date_nais.invalid && (registerForm.controls.date_nais.dirty || registerForm.controls.date_nais.touched),
                                                             'has-success': registerForm.controls.date_nais.valid && (registerForm.controls.date_nais.dirty || registerForm.controls.date_nais.touched)  }" >

                        <input type="date" placeholder="Date de naissance" class="form-control" formControlName="date_nais"   required>
                        <div *ngIf="(registerForm.controls.date_nais.invalid && submitted ) || registerForm.controls.date_nais.invalid && (registerForm.controls.date_nais.dirty || registerForm.controls.date_nais.touched)" class="p-error block">
                          Entrez votre date de naissance.
                        </div>
                        </div>

                        <div class="form-group" [ngClass]="{'has-danger': (registerForm.controls.username.invalid && submitted ) || registerForm.controls.username.invalid && (registerForm.controls.username.dirty || registerForm.controls.username.touched),
                                                             'has-success': registerForm.controls.username.valid && (registerForm.controls.username.dirty || registerForm.controls.username.touched)  }" >

                        <input type="text" placeholder="Username" class="form-control"formControlName="username"  required>
                        <div *ngIf="(registerForm.controls.username.invalid && submitted ) || registerForm.controls.username.invalid && (registerForm.controls.username.dirty || registerForm.controls.username.touched)" class="p-error block">
                          Saisissez votre nom d'utilisateur.
                        </div>
                        </div>

                          <div class="form-group"  [ngClass]="{'has-danger': (registerForm.controls.password.invalid && submitted ) || registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched),
                          'has-success': (registerForm.controls.password.invalid && submitted ) || registerForm.controls.password.valid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)  }" >

                              <input type="password" placeholder="Password" class="form-control" formControlName="password"  required>

                              <div *ngIf="(registerForm.controls.password.invalid && submitted ) || registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)" class="p-error block">
                                Saisissez votre mot de passe.
                              </div>
                          </div>
                          <div class="form-group" [ngClass]="{'has-danger': (registerForm.value.password !== registerForm.value.password_confirmation) && (registerForm.controls.password_confirmation.dirty || registerForm.controls.password_confirmation.touched) ||   (registerForm.controls.password_confirmation.invalid && submitted )}">
                              <input type="password" placeholder="Confirm Password" class="form-control" formControlName="password_confirmation"  required>

                              <div *ngIf=" (registerForm.controls.password_confirmation.invalid && submitted ) || registerForm.controls.password_confirmation.invalid && (registerForm.controls.password_confirmation.dirty || registerForm.controls.password_confirmation.touched)" class="p-error block">
                                Confirmez votre mots de passe.

                              </div>

                              <div  *ngIf="(registerForm.value.password !== registerForm.value.password_confirmation) && (registerForm.controls.password_confirmation.dirty || registerForm.controls.password_confirmation.touched)" id="username2-help" class="p-error block">
                                Ces mots de passe ne correspondent pas. Veuillez réessayer.</div>


                            </div>






                          <div class="pt-4 pb-3">
                            <input type="checkbox" (change)="onchange($event)" formControlName="condition"  required>
                              j'ai lu et j'accepte <a href="https://oldtera.dev.smartegy.ca/wp-content/uploads/2022/01/Conditions-generales-location.pdf?fbclid=IwAR0cvuYqu3G_WGBltUEa-3VRu6ONt6YlTkRS0GE7V1kxjPFCKMbiyC1JloA" target="_blank">
                              les conditions générales d'utilisation de ce site</a>
                          </div>

                              <button  *ngIf="!disabled && registerForm.valid"type="submit" data-bs-dismiss="modal" >Inscription</button>
                              <button  *ngIf="!registerForm.valid && !disabled"type="submit"  >Inscription</button>
                              <button  *ngIf="disabled"type="submit"  disabled>Inscription</button>
                          </form>
                       <!-- <span class="already-account">Already have an account?
                          <a href="/auth/login">Login Now</a>
                        </span>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Login & Register Modal -->
