<app-navbar-style-two></app-navbar-style-two>

<!-- Start Page Title Area -->
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
            </ul>
        </div>
    </div>

<!-- End Page Title Area -->

<!-- Start About Area -->
<section class="about-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6 col-content">
                <div class="rq-title-container">
                    <h2 class="rq-title">Pourquoi choisir Tera ?</h2>
                    <div class="featured-descrition">La solution la plus facile et rapide de location de voiture à Montréal.</div>
                </div>

                                    <ul class="hightlighted-featured">
                                                    <li class="highlighted-feature">
                                <div class="turbo-icon-wrap"><i class="far fa-address-card"></i></div>
                                <div class="turbo-feature-content">
                                    <h4>Aucune condition d'âge</h4>
                                    <p class="content">Profitez de nos services quel que soit votre âge et expérience de conduite.</p>
                                </div>
                            </li>
                                                    <li class="highlighted-feature">
                                <div class="turbo-icon-wrap"><i class="fas fa-spray-can"></i></div>
                                <div class="turbo-feature-content">
                                    <h4>Désinfection totale</h4>
                                    <p class="content">Les véhicules sont désinfectés avant et après chaque utilisation.</p>
                                </div>
                            </li>
                                                    <li class="highlighted-feature">
                                <div class="turbo-icon-wrap"><i class="far fa-calendar-times"></i></div>
                                <div class="turbo-feature-content">
                                    <h4>Annulation gratuite</h4>
                                    <p class="content">Annulation sans frais de votre réservation.</p>
                                </div>
                            </li>
                                            </ul>
                            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<section class="funfacts-area pb-70">
    <app-funfacts></app-funfacts>
</section>

<section class="team-area pt-100 pb-70 bg-f9f9f9">
    <app-team></app-team>
</section>

<section class="how-it-works-area pt-100 pb-70">
    <app-how-it-works></app-how-it-works>
</section>

<div class="partner-area ptb-100 bg-f5f5f5">
    <app-partner></app-partner>
</div>

<section class="feedback-area bg-f9f9f9 ptb-100">
    <app-feedback-style-one></app-feedback-style-one>
</section>

<app-footer-style-two></app-footer-style-two>