<form>
  <div class="row m-0 align-items-center">


      <div class="col-lg-3 col-md-6 p-0">
          <div class="form-group">
              <label><i class="flaticon-pin"></i></label>
              <input type="text" class="form-control" placeholder="Location">
          </div>
      </div>

      <div class="col-lg-3 col-md-12 p-0">
        <div class="form-group">




              <p-calendar  [(ngModel)]="date" [showTime]="true"  [touchUI]="false" placeholder ="04/05/2022 01:20"  >
                <!--<ng-template pTemplate="date" let-date>
                    <span [ngStyle]="{textDecoration: (date.day < 21 && date.day > 10) ? 'line-through' : 'inherit'}">{{date.day}}</span>
                </ng-template>-->
            </p-calendar>



            <!--<input type="Date" bsDaterangepicker class="form-control"  >-->

        </div>
    </div>

      <div class="col-lg-3 col-md-6 p-0">
          <div class="form-group  ">
            <p-calendar [(ngModel)]="date" [showTime]="true" inputId="time" [showIcon]="false" placeholder ="04/05/2022 01:20"></p-calendar>
                </div>

               <!-- <div class="col-6"> <timepicker [(ngModel)]="mytime"></timepicker></div> -->


            </div>

<!--<bs-daterangepicker-inline [bsValue]="bsInlineRangeValue"></bs-daterangepicker-inline>-->
<!---  <input class="form-control"
placeholder="Daterangepicker"
ngModel
bsDaterangepicker
[minDate]="minDate"
[maxDate]="maxDate">  -->



      <div class="col-lg-3 col-md-12 p-0">
          <div class="submit-btn">
              <button type="submit">Search Now</button>
          </div>
      </div>
  </div>
</form>
