<!-- Start Footer Area -->
<footer class="footer-area bg-f5f5f5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget">
                  <img src="assets/img/black-logo.png" alt="image">


                  <div class="text">Tera est la première société
                          de location de voitures au monde
                          à proposer une place de marché et des
                          outils aux petites sociétés de location de
                          voitures à l’échelle internationale. </div>

                </div>
            </div>



            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget">
                    <h3>Explorer</h3>

                    <ul class="link-list">
                        <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Réserver une voiture</a></li>
                         <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Devenir un Hôte</a></li>
                        <li><a routerLink="/"><i class="flaticon-left-chevron"></i> FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
              <div class="single-footer-widget">
                  <h3>Support</h3>

                  <ul class="link-list">
                      <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Contactez-nous</a></li>
                      <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Aide</a></li>
                      <li><a routerLink="/"><i class="flaticon-left-chevron"></i> terms & conditions</a></li>
                      <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Service client</a></li>
                      <li><a routerLink="/"><i class="flaticon-left-chevron"></i> politique de confidentialité</a></li>

                  </ul>
              </div>
          </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget">
                    <h3>Contact Info</h3>

                    <ul class="footer-contact-info">
                        <li><i class="bx bx-map"></i>1673 Saint Christophe Street, Montréal, Québec H2L 3W7 Canada</li>
                        <li><i class="bx bx-phone-call"></i><a href="tel:+11234567890">+105144653858</a></li>
                        <li><i class="bx bx-envelope"></i><a href="mailto:contact@smartegy.ca">distributionsaflow@gmail.com</a></li>
                        <li><i class="bx bxs-inbox"></i><a href="tel:+557854578964">+55 785 4578964</a></li>
                    </ul>

                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/terarental/" class="d-block" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright-area"  >
            <p > Made with < 3  by <a href="https://smartegy.ca/" >Smartegy</a></p>
        </div>
    </div>

    <div class="footer-image text-center">

    </div>
</footer>
<!-- End Footer Area -->

<div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>
