<div class="content-section implementation">
<div class="card">
<h5>Custom Contents</h5>
<p-galleria [(value)]="images" [(visible)]="displayCustom" [(activeIndex)]="activeIndex"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{'max-width': '850px'}" [numVisible]="7" [circular]="true" [fullScreen]="true"
        [showItemNavigators]="true"
    [showThumbnails]="false" [baseZIndex]="100000">
    <ng-template pTemplate="item" let-item>
        <img src={{link}}{{item.path}} style="width: 100%; display: block;"/>
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
            <img src={{link}}{{item.path}} style="display: block;"/>
        </div>
    </ng-template>
</p-galleria>
<div *ngIf="images" class="row" style="max-width: 400px;">
    <div *ngFor="let image of images; let index = index;" class="col-4" key="index">
      <button pButton type="button" class="p-button-raised p-button-rounded p-button-danger delete-btn" iconPos="right" icon="pi pi-trash" (click)="deleteimage(image)"></button>
        <img src={{link}}{{image.path}} [alt]="image.alt" style="cursor: pointer" (click)="imageClick(index)"/>

        <br>
    </div>
</div>
</div>
</div>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
