
  .delete-btn {
  position: absolute;
   z-index: 1;
 //display:  box;
 //left: 20px;
  color: var(--whiteColor);
 // text-align: center;
  background-color: rgba(0, 0, 0, .55);
  border-color: rgba(0, 0, 0, 0);
  /* width: 35px;
  height: 35px;
  //border-radius: 50%;*/
  line-height: 35px;
  font-size: 16px;

  &:hover {
      background-color: var(--mainColor);
      color: var(--whiteColor);
  }

}
