<div class="recent-activities-box">
    <h3>Recent Activities</h3>

    <ul>
        <li class="alert alert-dismissible fade show" role="alert">
            <div class="icon">
                <i class='bx bx-layer'></i>
            </div>
          Votre annoce de <strong><a href="#">BMW iX</a></strong> a été approuvée !
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
        <li class="alert alert-dismissible fade show" role="alert">
            <div class="icon">
                <i class='bx bx-star'></i>
            </div>
            <strong>Andy Smith</strong> a laissé un avis <div class="rating mid" data-rating="3.0"></div> sur <strong><a href="#">Tesla Model3 2021</a></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
        <!--<li class="alert alert-dismissible fade show" role="alert">
            <div class="icon">
                <i class='bx bx-heart'></i>
            </div>
            Someone bookmarked your <strong><a href="#">Mexican Grill</a></strong> listings!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>-->
        <li class="alert alert-dismissible fade show" role="alert">
            <div class="icon">
                <i class='bx bxs-star'></i>
            </div>
            Andy Smith a laissé un avis <div class="rating high" data-rating="5.0"></div> sur <strong><a href="#">Mercedes-Benz AMG GT</a></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
       <!--- <li class="alert alert-dismissible fade show" role="alert">
            <div class="icon">
                <i class='bx bxs-bookmark-star'></i>
            </div>
            Someone bookmarked your <strong><a href="#">Grill</a></strong> listings!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>-->
        <li class="alert alert-dismissible fade show" role="alert">
            <div class="icon">
                <i class='bx bx-layer'></i>
            </div>
            Votre annonce de <strong><a href="#">Ford Mustang GT 2020</a></strong> a été approuvée
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
        <li class="alert alert-dismissible fade show" role="alert">
            <div class="icon">
                <i class='bx bxs-star-half'></i>
            </div>
            <strong>James Andy</strong> a laissé un avis <div class="rating low" data-rating="2.5"></div> sur <strong><a href="#">Tesla Model3</a></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
    </ul>
</div>
