<app-navbar-style-one></app-navbar-style-one>

<!-- Start Page Title Area -->

<!-- End Page Title Area -->

<!-- Start Checkout Area -->
<section class="checkout-area ptb-100">
  <div class="container">
    <p-toast></p-toast>
    <br>
    <!--<div class="user-actions">

            <i class='bx bx-log-in'></i>
            <span>Returning customer?
              <a href="#" data-bs-toggle="modal" data-bs-target="#loginRegisterModal">Click here to login</a>
            </span>
        </div>-->

    <form>
      <div class="row  ">
        <div class="col-lg-7 col-md-12">
          <div class="billing-details">
            <h3 class="title">Billing Details</h3>
            <div class="row order">
              <h5>Extras</h5>
              <!--<div class="single-category-box">
                            <h3> Siege pour enfant </h3>
                            <span> 75$</span>
                            <div class="col-lg-12 col-md-6">
                              <div class="form-group">
                                  <input type="text" name="name" class="form-control" id="name" required placeholder="Your name">
                              </div>
                            </div>
                             <span></span>
                              <h3> Frais pour animaux domestiques</h3>
                            <span> 75$</span>
                            <div class="col-lg-12 col-md-6">
                              <div class="form-group">
                                  <input type="text" name="name" class="form-control" id="name" required placeholder="Your name">
                              </div>
                          </div>
                        </div>-->
              <div class="single-category-box">
                <div class="row">
                  <div class="col-10">
                    <h3> Siege pour enfant </h3> <span> 75$</span>
                  </div>
                  <div class="col-2">

                    <input pButton pRipple type="checkbox" style=" width:30px ; height:30px;" icon="pi pi-plus"
                      class="p-button-outlined p-button-rounded3" value="75" id="1" (change)="checkValue($event)" />
                  </div>
                </div>
              </div>


              <div class="single-category-box">
                <div class="row">
                  <div class="col-10">
                    <h3> Frais pour animuax domestiques </h3> <span> 75$</span>
                  </div>
                  <div class="col-2 justify-content-end">

                    <input pButton pRipple type="checkbox" style=" width:30px ; height:30px;" icon="pi pi-plus"
                      class="p-button-outlined p-button-rounded3" value="75" id="2" (change)="checkValue($event)" />
                  </div>
                </div>
              </div>
              <div class="single-category-box">
                <div class="row">
                  <div class="col-10">
                    <h3> plein d'essence prépayé </h3> <span> 75$</span>
                  </div>
                  <div class="col-2 justify-content-end">

                    <input pButton pRipple type="checkbox" style=" width:30px ; height:30px;" icon="pi pi-plus"
                      class="p-button-outlined p-button-rounded3" value="75" id="3" (change)="checkValue($event)" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-5 col-md-12">
          <div class="order-details">
            <h3 class="title">Your Order</h3>
            <div class="row payment-box">
              <div class="col-10 payment-method">

                <img src="{{res?.photo}}" alt="image">
              </div>
              <div class="col-4 user-profile">
                <div class="d-flex align-items-center">
                  <img src="{{image}}" alt="image">
                </div>
                <!--<div class="title">
                                <h6>James Andy</h6>


                            </div>-->
              </div>
              <span class="row pt-2">De {{res?.user}}</span>
              <div class="row pt-2">

                <div class="col-8">
                  <h4>{{res?.model}} </h4>
                </div>

                <!--<div class="rating d-flex  col-4">
                            <span class="rating-count">4.6 </span> <span class="bx bxs-star checked"></span> (45 voyage)
                        </div>-->
              </div>

              <div class="row pt-2">

                <div class="col-5"> {{startdate}}</div>
                <div class="col-2"><i class='bx bxs-right-arrow'></i></div>
                <div class="col-5"> {{enddate}}</div>
              </div>


            </div>

            <div class="order-table table-responsive">

            </div>

            <div class="row pt-2">
              <div class="payment" class="col-8">

                <h5>Prix totale</h5>
                <!--<span> {{totalprice}}$</span>-->
                <span *ngIf="result?.days!=0"> {{res?.Price_D}}$ * {{result?.days}} = {{result?.amount}} $</span>
                <span *ngIf="result?.days==0"> {{res?.Price_H}}$ * {{result?.hour}} = {{result?.amount}} $</span>
                <br>
                <span *ngIf="Extrass"> Extra = {{Extrass}} $<br>
                      {{i}}
                      <br>
                      {{j}}
                      <br>
                      {{k}}

                </span>

              </div>

              <button type="submit" class="default-btn"    (click)="Reservation(); make_reservation()"><i class="flaticon-tick"></i>Place Order</button>
            </div>
          </div>
        </div>
        <div class="payment col-lg-7 col-md-12">
          <p-card>
              <ng-template pTemplate="title">
                  Payment Information
              </ng-template>
              <ng-template pTemplate="subtitle">
                  Enter your card details
              </ng-template>
              <ng-template pTemplate="content">
                  <div class="p-fluid formgrid grid">
                      <div class="field col-12">
                          <label for="class">Card Holder Name</label>
                          <input type="text" required pInputText [(ngModel)]="holder_name">
                      </div>
                      <div class="field col-8">
                          <label id="number" for="lastname">Number</label>
                          <p-inputMask inputId="number" mask="9999-9999-9999-9999" [(ngModel)]="card_number"></p-inputMask>
                      </div>
                      <div class="field col-2">
                          <label id="date" for="date">Date</label>
                          <p-inputMask inputId="date" mask="99/99" [(ngModel)]="card_date"></p-inputMask>
                      </div>
                      <div class="field col-2">
                          <label for="cvv">CVV</label>
                          <p-inputMask id="cvv" mask="999" [(ngModel)]="cvv"></p-inputMask>
                      </div>
                      <div class="field-checkbox col-12">
                          <p-checkbox id="remember" [binary]="true" ></p-checkbox>
                          <label for="remember" class="p-checkbox-label">Save credit card information for future</label>
                      </div>
                  </div>
              </ng-template>
              <ng-template pTemplate="footer">
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                       <p-toast></p-toast>
                  </div>
              </div>
              </ng-template>
          </p-card>


      </div>


      </div>
    </form>
  </div>
</section>
<!-- End Checkout Area -->
<app-footer-style-two></app-footer-style-two>
