<div class="stepsdemo-content">
  <p-card class="justify-content-center">
    <!--<ng-template pTemplate="title">
        Personal Information
    </ng-template>-->
    <ng-template pTemplate="subtitle">
       Vérifier votre adresse email


       <!-- Ajouter input nu-->
    </ng-template>
    <ng-template pTemplate>
        <div class="row">
          <div class="p-fluid"  class="field col-8">


            <div class="grid p-fluid"  >
              <div class="col-12 md:col-4">
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                      <input #firstname="ngModel" id="firstname" type="email" placeholder="john.smith@exemple.ca" required pInputText [(ngModel)]="personalInformation.firstname" [ngClass]="{'ng-dirty': (firstname.invalid && submitted) || (firstname.dirty && firstname.invalid)}">
                      <small *ngIf="(firstname.invalid && submitted) || (firstname.dirty && firstname.invalid)" class="p-error">email is required.</small>

                    </div>
              </div>
            </div>
          </div>
          <div class="grid grid-nogutter justify-content-end col-4">
            <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>

        </div>

     </ng-template>
    <ng-template pTemplate="footer">

    </ng-template>
</p-card>
</div>
