<app-sidemenu></app-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

  <app-navbar></app-navbar>

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <li class="item"><a routerLink="dashboard">test</a></li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start -->
    <div class="bookings-listings-box">
        <h3>demandes de vérification</h3>


        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Client</th>
                        <th>Photos permis</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let card of cards;">
                        <td class="name">
                            <img [src]="card.image" alt="image">
                            <div class="info">
                                <span>{{card.user}}</span>

                                <container-element [ngSwitch]="card.user_status">
                                  <!-- the same view can be shown in more than one case -->
                                  <some-element *ngSwitchCase="'Approved'" class="bookings-status approved ">Apprové</some-element>
                                  <some-element *ngSwitchCase="'Pending'"   class="bookings-status preding">En Attente</some-element>
                                  <some-element *ngSwitchCase="'Declined'"  class="bookings-status canceled">Rejeté</some-element>


                                </container-element>
                                <ul>
                                    <li><a href="#">{{card.phone}}</a></li>
                                    <li><a href="#">{{card.email}}</a></li>
                                </ul>
                                <a href="#" class="default-btn"><i class='bx bx-envelope'></i> Envoyer SMS</a>
                            </div>
                        </td>

                        <td class="details">

                            <ul class="row">
                                <li class="col-6">
                                    <img src="{{card.Driving_licence_side1}}" alt="image">

                                </li>
                                <li class="col-6">
                                    <img src="{{card.Driving_licence_side2}}" alt="image">

                                </li>
                            </ul>
                        </td>

                        <td class="action">

                            <a  (click)=Approve(card?.user_id) class="default-btn"><i class='bx bx-check-circle'></i> Approve</a>
                            <a   (click)=Reject(card?.user_id) class="default-btn danger"><i class='bx bx-x-circle'></i> Reject</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- End -->

    <div class="flex-grow-1"></div>

    <app-copyrights></app-copyrights>

</div>
<!-- End Main Content Wrapper Area -->
